nav
    ul
        li
            a(href="home" class="title") Learning Tracker
        li
            a(href="sign-up" class="sign_item") Sign up
        li
            a(href="signin" class="sign_item") Sign in
        li
            a(href="questions" class="nav_item") Questions
        li
            a(href="home" class="nav_item") Home
