nav
    ul
        li
            a(href="home" class="title") Learning Tracker
        li
            a(href="sign-up" class="sign_item") Sign up
        li
            a(href=sign_in_out_url class="sign_item") #{sign_in_out}
        li
            a(href="questions" class="nav_item") Questions
        li
            a(href="home" class="nav_item") Home
