extends layout

block content
  include partials/header.pug
  h1= title
  iframe(style='display: block;margin-left: auto;margin-right: auto;', type='text/html', width='660', height='371', src='https://www.youtube.com/embed/QT9KqwK868s', allow='autoplay',
  allowfullscreen='true', frameborder='0')