doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navigation_bar.css')
    link(rel='stylesheet', href='/stylesheets/question_modal.css')
    link(rel='stylesheet', href='/stylesheets/rating.css')
  body
    block content
