doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navigation_bar.css')
    link(rel='stylesheet', href='/stylesheets/question_modal.css')
    link(rel='stylesheet', href='/stylesheets/sequence_modal.css')
    link(rel='stylesheet', href='/stylesheets/create_sequence_modal.css')
    link(rel='stylesheet', href='/stylesheets/rating.css')
    link(rel='stylesheet', href='/stylesheets/signin.css')
    link(rel='stylesheet', href='/stylesheets/questions.css')
  body
    block content
