extends layout

block content
    include partials/header.pug
    table(style='width:40%', border='1', id='questions_table')
        thead
            tr
                th Question
                th Question Type
                th Picture
                th Rating
        tbody
            each question in data.questions
                tr
                    td=question.questionText
                    td=question.questionType
                    td
                        img(src="/images/mini_" + question.imageName)
                    td=question.rating