.search-select {
    width: 15rem;
    height: 3em;
    line-height: 3;
    color: white;
    text-align: center;
    font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
    border-radius: .45em;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    background: url(/images/arrow.png) 96% / 5% no-repeat #00e6a1;
}

.search-select:disabled {
    background-color: #CEF6E3;
}

.elements-questions {
    width: 15rem;
}


