body {
  margin:0;
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  padding:15px;
}

p {
  padding:10px;
}

a {
  color: #00B7FF;
}
.standard-button {
  cursor: pointer;
  background-color: #00e6a1;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.small-button {
  cursor: pointer;
  background-color: #00e6a1;
  color: white;
  padding: 3px 10px;
  border: none;
  border-radius: 2px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.small-button:disabled {
  background-color: #CEF6E3;
}
.standard-button:disabled {
  background-color: #CEF6E3;
}
.form-inline {
  padding: 40px 0;
  text-align: center;
}
.form_sign {
  padding: 40px 0;
  text-align: center;
}
.center-div {
  margin: 20px auto;
  width: 200px;
}

.left-panel{
  position: fixed;
  left: 3%;
  top: 15%;
}

.right-panel{
  position: fixed;
  right: 3%;
  top: 15%;
}
@media screen and (max-width: 720px) {
  .right-panel {
    position: inherit;
  }

  .left-panel{
    position: inherit;
  }
}

div.form-group {
  margin: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#questions_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

#test_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  visibility: collapse;
}

.test-name {
  width: 40%;
  max-width: 40%;
}

#questions_table td, #questions_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#questions_table tr:nth-child(even){background-color: #ffffff;}
#questions_table tr:nth-child(odd){background-color: #e6ffe6;}

#questions_table tr:hover {background-color: #ccffcc;}

#questions_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00e6a1;
  color: white;
}